:root {
    --primary-1: #112123;
    --primary-2: #113536;
    --primary-3: #144848;
    --primary-4: #146262;
    --primary-5: #138585;
    --primary-6: #13a8a8;
    --primary-7: #33bcb7;
    --primary-8: #58d1c9;
    --primary-9: #84e2d8;
    --primary-10: #b2f1e8;
}